@page "/fetchdata"
@using SearchApp.Models
@using SearchApp.Services
@inject HttpClient Http
@inject IVideoSearch videoSearch


<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (searchResults == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>ProgramType</th>
                <th>IvaRating</th>
                <th>year</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var result in searchResults)
            {
                <tr>
                    <td>@result.Title</td>
                    <td>@result.ProgramType</td>
                    <td>@result.IvaRating</td>
                    <td>@result.Year</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<AutocompleteTitle> searchResults;

    protected override async Task OnInitializedAsync()
    {
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
        try
        {
           // var serr = await videoSearch.Search("moon");
            searchResults = await videoSearch.AutocompleteTitle("some");
        }
        catch (Exception ex)
        {

            throw;
        }

    }

    //public class WeatherForecast
    //{
    //    public DateTime Date { get; set; }

    //    public int TemperatureC { get; set; }

    //    public string? Summary { get; set; }

    //    public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    //}
}
